.center{text-align: center;}

.yellow{color: #ffa400;}

.blue, a{color: #0691d7;}

.big-font{font-size: 46px;}

.italic{font-style: italic;}

table{font-size: 16px;}

body,p{font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.47;}


    .recept{width: 50%;
        margin: auto;}
        
        .left{text-align: left;}
        
        .main-title{
    height: 512px;
    background-color: #0691d7;
    background-repeat: no-repeat;
    color: white;
    background-position: center;
    background-size: cover;
letter-spacing: 4px;
background-image: url(assets/image/bananovyy-pudynh_60423ee9232dd.jpg)
        }